/* web/src/index.css */
@import "tailwindcss";
@import "theme.css";

/* Thème sombre par défaut */
:root {
  color-scheme: dark;
}
html, body, #root {
  height: 100%;
}
body {
  /* couleurs de base (on utilisera nos tokens via classes utilitaires) */
  background-color: var(--bg); /* bg */
  color: #E5E7EB; var(--text);  /* text */
}
