/* web/src/index.css */
@import "tailwindcss";

/* Thème sombre par défaut */
:root {
  color-scheme: dark;
}
html, body, #root {
  height: 100%;
}
body {
  /* couleurs de base (on utilisera nos tokens via classes utilitaires) */
  background-color: #1D1D1D; /* bg */
  color: #F3F3F3;  /* text */
}
